@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add some default body styling */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}
